<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-switch.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <title>Smart Dude</title>
</head>
<body>
    <div class="main-wrapper">
        <div class="toggle-button">
            <input data-role="none" id="dimension-switch" type="checkbox" checked>
        </div>
        <br>
        <br>
        <input class="slider" type="range" min="5" max="120" step="5" value="60">
        <div class="slider-minutes">60</div>
        <div id="popup" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <p class="popup-text">Success</p>
                    </div>
                </div>
            </div>
        </div>
        <div id="auth-popup" class="modal fade" data-backdrop="static">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <p class="popup-text">Enter password</p>
                        <input type="password" class="password" >
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary sendpassword">Send Password</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.8/require.min.js"></script>
    <script src="/scripts/main.js"></script>
    <script type="text/javascript">
            require(['views/MainBaseView'], function (MainBaseView) {
            new MainBaseView({
                el: $(document.body),
                dudeState: {{dudeState}}
            });
        });
    </script>
</body>
</html>